.btn {
    //font-family: 'Inter', serif;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 32px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    @include less($large) {
        padding: 14px 30px;
        font-size: 16px;
        min-width: 240px;
        margin-bottom: 15px;
    }
}

.orange-button {
    background: #FCAB32;

    &:hover {
        background: #FCAB32 !important;
        text-decoration: none;
        color: #fff !important;
    }
}

.red-button {
    background: #ED5829;

    &:hover {
        text-decoration: none;
        color: #fff !important;
        background: #ED5829 !important;
    }
}
.gray-medium-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 110px;
    height: 48px;
    //background: #0EA5E9 !important;
    background: #808080 !important;
    border-radius: 10px;
    //font-family: 'Inter', serif;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #D9D9D9;
    border: none;

    &:disabled {
        opacity: 0.3;
        cursor: none;
    }
}

.red-medium-button {
    //font-family: 'Inter', serif;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: #ED5829;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 16px 24px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border:none;

    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.dropdown-menu {
    background: #FFFFFF;
    border: 1px solid #C2C9D1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.visible-dropdown {
    display: block !important;
}

.btn-dropdown {
    position: relative;
    min-width: 240px;

    span {
        display: inline-block;
        content: "";
        position: relative;
        margin-left: -32px;

        &:after {
            border: none;
            background-image: url("../../public/images/dropdown-red-arrow.svg");
            background-repeat: no-repeat;
            width: 17px;
            height: 9px;
            content: "";
            vertical-align: 0;
            position: absolute;
            top: 7px;
            right: -35px;
        }
    }
}

.btn-change-colors {
    @include less($medium) {
        display: none;
    }
}

.btn-swot-another {
    @include less($medium) {
        margin-right: 0px !important;
    }
}
.btn-swot-back-edit {
    @include less($medium) {
        margin-left: 0px !important;
    }
}

.btn-swot-download {
    margin-right: 20px;

    @include less($medium) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
