.dropzone-block {
  p {
    border: 1px dashed #ed5829;
    border-radius: 8px;
    margin-top: 10px;
    height: 164px;
    text-align: center;
    width: 385px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    font-size: 14px;
    color: #ED5829;
    background: url("../../public/images/dropzone-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 17%;
    font-family: "Raleway", serif;
  }
}

.dropzone {
  margin-top: 6px;
}

.styles-dropzone {
  position: relative;
}

.thumb-block-images .thumb-preview{
  img {
    width: 100%;
    height: auto !important;
  }
}
