.dropdown-menu {
  right: 0;
  top: -90px;
  display: block;
  width: 240px;
  left: 70px;

  @include less($large) {
    left: 50px;
  }
  @include less($large) {
    left: 59px !important;
  }
}

.dropdown-action {
  @apply rounded-lg text-xs text-gray-300
  font-medium placeholder-gray-300 relative;

  .dropdown-toggler {
    @apply font-bold relative pr-4 float-left;

    &:after {
      content: " ";
      top: 0;
      background-image: url("../../public/images/icon-tbl-triangle.svg");
      background-repeat: no-repeat;
      @apply absolute inline-block w-[16px] h-[14px] -right-0.5;
    }
  }

  .dropdown-menu {
    min-width: 200px;
    @apply absolute bg-white rounded-lg w-full border-gray-300 border
    top-4 left-0 text-xs z-50 top-[5px];

    .dropdown-menu-item {
      @apply pt-1.5 pb-1.5 cursor-pointer pl-2 pr-2 font-bold text-left;
    }
  }
}

