label {
    //font-family: 'Inter', serif;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3D3E52;
    margin-bottom: 15px;
}

.page-description {
    //font-family: 'Inter', serif;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3D3E52;
    margin-bottom: 15px;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    width: 100%;
    height: 40px;
    background: #F8F9FB;
    border: 1px solid #F3F3F3;
    border-radius: 8px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3D3E52;
    font-family: 'Raleway', serif;

    &:focus, &:active {
        box-shadow: none;
        border: 1px solid #F3F3F3;
    }
}

textarea.form-control {
    resize: none;
    height: 81px;
    padding: 10px 40px 10px 20px;
    font-family: 'Raleway', serif;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    color: red;
    //font-family: 'Inter', serif;
    font-family: 'Raleway', serif;

}

.input-group {
    position: relative;

    .color-picker, .picker-el {
        background-position: left;
        background-repeat: no-repeat;
        width: 13px;
        height: 13px;
        position: absolute;
        left: 12px;
        z-index: 999;
        top: 13px;
        cursor: pointer;
    }

    .red-picker {
        width: 13px;
        background-image: url(../../public/images/red-picker.svg);
    }
    .yellow-picker {
        width: 17px;
        background-image: url(../../public/images/yellow-picker.svg);
    }

    .palette-picker {
        background-image: url(../../public/images/color-picker.svg) !important;
        background-position: left;
        width: 15px;
        height: 13px;
        position: absolute;
        right: 15px;
        z-index: 1000000;
        top: 13px;
    }
    .custom-picker, .pickr {
        //background-image: url(../../public/images/color-picker.svg) !important;
        background-position: left;
        width: 15px;
        height: 13px;
        position: absolute !important;
        right: 15px;
        z-index: 999;
        top: 13px;
    }

    .color-control {
        padding-left: 30px;
    }
}
.form-control-icon {
    //@apply bg-white w-full rounded-lg p-2.5 pl-9 text-sm
    //font-medium  border
    //
    //&:active,
    //&:focus,
    //&:focus-visible {
    //    @apply bg-white w-full rounded-lg p-2.5 pl-9 text-sm font-medium border;
    //}
}


.red-picker {
    background-image: url(../../public/images/red-picker.svg);
    background-position: left;
}

.error-el {
    font-size:10px;
    color: red;
    position: absolute;
    //bottom: 12px;
}

.picker-orange {

}

.form-step-1 {
    width: 897px;
    left: 277px;
    top: 196px;
    background: #FFFFFF;
    border-radius: 10px;
    min-height: 200px;
    margin: 0 auto;
    padding: 48px 56px;
    box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.06);

    @include less($large) {
        width: 100%;
        padding: 28px 24px;
    }
}

.tips, .input-tips {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
    //margin-top: 4px;
    margin-top: 9px;
    margin-right: 12px;
    font-family: "Raleway", serif;
}

.form-tips {
    max-width: 73%;
}

.input-close {
    background-image: url("../../public/images/close.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor:pointer;
}

.clr-picker {
    z-index: 999999 !important;
}
.clr-field {
    button {
        background-image: url(../../public/images/color-picker.svg) !important;
        background-position: center !important;
        background-size: auto !important;
        width: 49px !important;
        background-repeat: no-repeat;
        border-radius: 0 8px 8px 0;
        z-index: 80;
        cursor: pointer;
    }
}
.coloris {
    width: 380px;
}
.color-control {
    z-index: 9999999;
}

.my-dropzone {
    border: 1px dashed #ED5829;
    width: 360px;
    height: 164px;
    border-radius: 8px;
    text-align: center;
}

.form-textarea {
    padding: 12px 0 10px 12px;
    width: 775px;
    height: 81px;
    background: #F8F9FB;
    border: 1px solid #F8F9FB;
    border-radius: 8px;
    margin-top: 15px;
    resize: none;

    @include less($large) {
        width: 100%;
    }
}

h4.form-header {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ED5829;
    text-align: center;
    margin: 24px 0;
    cursor:pointer;
    //font-family: 'Inter', serif;
    font-family: 'Raleway', serif;


    span {
        cursor: pointer;
    }
}
.strengths-block-form {
    margin-bottom: 30px;
    clear: both;
}

.data-btn {
    position: absolute;
    color: #ED5829;
    right: 13px;
    //bottom: 30px;
    top: 50px;
    z-index: 99999;
    cursor: pointer;

    //@include less($large) {
    //    top:60px;
    //}

    &:hover {
        color: #ED5829;
    }
}

.textarea-data-value {
    font-family: 'Raleway', serif;
    background: #FFFFFF;
    box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    min-height: 60px;
    overflow-wrap: anywhere;

    span {
        display: inline-block;
        margin-right: 80px;
    }

    .btns-block-content {
        min-width: 65px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

}

.edit-data-icon {
    display:block;
    background: url(../../public/images/edit-icon.svg) center no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 25px;
    cursor: pointer;
}
.remove-data-icon {
    display:block;
    background: url(../../public/images/remove-icon.svg) center no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
}

.services {
    margin-bottom: 20px;
}

.color-control {
    padding-left: 30px;
    z-index: 50;
}

.edit-resources {
    display:inline-block;
    background: url(../../public/images/edit-icon.svg) center no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    margin-left: 12px;
    position: absolute;
    top: 5px;

    @include less($medium) {
        top: 5px;
    }
}
.edit-resources-white {
    display:inline-block;
    background: url(../../public/images/edit-icon-white.svg) center no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    margin-left: 12px;
    position: absolute;
    bottom: 7px;
    right: 10px;
}

