.title {
  //border: solid 1px #e740a4;
  //background-color: lavenderblush;
  z-index: 999;
}
.title-new {
  display: table;
  width: 100%;
  //border: solid 1px blue;
  position: relative;
  font-family: 'Raleway', serif;


  .title-info {
    display: table-cell;
    vertical-align: middle;
    clear: both;

    .info {
      //margin-left: 50px;
      margin-top: 70px;
      font-family: 'Raleway', serif;

      p {
        overflow-wrap: break-word;
      }


      @include less($large) {
        margin-bottom: 0px;
      }

      @include less($large) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.title {
  //padding-left: 75px;

  @include less($medium) {
    padding-left: 50px !important;
  }
}


.col-block-second {
  h2 {
    font-family: 'Raleway', serif;

    @include less($medium) {
      margin-left: -25px;
    }
  }

  h2.second {
    font-family: 'Raleway', serif;

    @include less($medium) {
      margin-top: 30px;

    }
  }

  .title {
    //padding-left: 75px;

    //@include less($medium) {
    //  padding-left: 50px;
    //}
  }

  .red-block {
    @include less($medium) {
      margin-left: 15px;
    }
  }

  .footer-info {
    @include less($medium) {
      margin-left: 15px;
    }
  }
}

.second {
  @include less($extra-large) {
    padding-left: 10px;
  }
}


//.threats {
//  .info {
//    //margin-left: 75px !important;
//
//    @include less($medium) {
//      margin-left: 0 !important;
//      margin-bottom: 30px !important;
//    }
//  }
//}

.content {
  padding-bottom: 39px;
  z-index: 999;

  @include less($large) {
    margin-top: 40px;
  }
  @include less($medium) {
    margin-top: 0px;
  }
}

.footer {
  z-index: 999;
  padding-bottom: 25px;

  @include less($medium) {
    padding-bottom: 0;
  }
}
.footer-new {
  display: table;
  width: 100%;
  //border: solid 1px blue;
  position: relative;
  //background-color: #D9D9D9;

  @include less($extra-large) {
    display: inherit;
  }

  .footer-info {
    display: table-cell;
    vertical-align: middle;
    clear: both;
    padding-bottom: 20px;

    .info {
      //margin-left: 50px;
      //margin-top: 70px;
    }
  }

  .footer-weaknesess {
    //display: inherit;

    .info {
      //padding-left: 50px;
    }

    @include less($medium) {
      margin-top: -10px;
    }
  }
  .footer-opportunities {
    @include less($medium) {
      margin-left: 15px;
    }
    .info {
      //padding-left: 75px;

      //@include less($medium) {
      //  margin-top: -35px;
      //}
    }
  }
}

.row.responsive-sm {
  display: grid;
  grid-template-columns: repeat(2, 487px);
  grid-column-gap: 130px;

  @include less($extra-large) {
    grid-template-columns: repeat(2, 440px);
  }

  @include less($large) {
    display: block;
  }
}
.col-50 {
  display: contents;
  position: relative;

  @include less($large) {
    display: inherit;
  }
}
.title {
  grid-row: 1;
  //background: yellow;
}
.content {
  grid-row: 2;
}

.col-block-first {
  .title, .content, .footer {
    padding-left: 50px;
  }
  h2 {
    padding-left: 50px;

    @include less($medium) {
      padding-left: 50px;
    }
  }
  h2.second {
    padding-left: 50px;

    @include less($large) {
      padding-left: 0;
    }
  }
}
.col-block-second {
  .title, .content, .footer {
    padding-left: 75px;

    @include less($large) {
      padding-left: 50px;
    }

    @include less($medium) {
      padding-left: 35px;
    }
  }
  h2 {
    padding-left: 75px;

    @include less($large) {
      padding-left: 50px;
    }
    @include less($medium) {
      padding-left: 75px;
    }
  }
  h2.second {
    //padding-left: 0;
    padding-left: 75px;

    @include less($large) {
      padding-left: 0;
    }
    @include less($medium) {
      padding-left: 40px;
    }
  }
  .red-block {
    @include less($medium) {
      margin-top: 0px;
    }
  }
}

//#bl-1 {
//  padding-left: 50px;
//
//  @include less($extra-large) {
//    padding-left: 60px;
//
//    .second {
//      padding-left: 10px !important;
//    }
//  }
//}
//#br-2 {
//  padding-left: 95px;
//
//  @include less($extra-large) {
//    padding-left: 60px;
//  }
//}

.result-bg-slide {
  background-image: url("../../public/images/swot-result-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 420px;
  height: 280px;
  margin: 0 auto;

  @include less($small) {
    width: 315px;
    height: 210px;
    margin: 0 auto;
  }
}

.result-title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #3D3E52;
}
.result-btn-block {
  margin: 30px auto;
  text-align: center;

  .btn {
    width: 280px;

  }
  .red-button {
    margin-right: 10px;
  }
  .orange-button {
    margin-left: 10px;
  }
}


#viewBackendTable {
  td {
    border: solid 1px;

  }
  td.td-right {
    border-color: #FCAB32;
  }
  td.td-left {
    border-color: #ED5829;
  }
}

