.sortable-block {
  @apply float-right ml-8 min-w-[15px] min-h-[15px];
  position: relative;
  margin-top: 5px;
}

.btn_sort {
  display: inline;
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.btn_sort.top.active, .btn_sort.top:hover {
  background: url("../../public/images/sort-up-active.svg");
}
.btn_sort.down.active, .btn_sort.down:hover {
  background: url("../../public/images/sort-down-active.svg");
}
.btn_sort.top {
  background: url("../../public/images/sort-up.svg");
  background-repeat: no-repeat;
  height: 5px;
  width: 8px;
  background-position: center;
  top: calc(50% - 6px);
  right: 10px;
}
.btn_sort.down {
  height: 5px;
  width: 8px;
  background-position: center;
  background: url("../../public/images/sort-down.svg");
  background-repeat: no-repeat;
  bottom: calc(50% - 6px);
  right: 10px;
}
.actions {
  text-align: right !important;
}

.page-link {
  &:focus {
    box-shadow: none !important;
  }
}


