@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer utilities {
  .bg-red {
    background: red;

  }
  .border-1 {
    border: solid 1px;
  }
  .blueGray-300 {
    background: yellow !important;
  }
}

.backend-logo {
  margin: 0 auto;
  padding: 10px 0;
}
/* Auth */
.auth .login-half-bg {
  background: url("../public/images/auth/login-bg.jpg");
  background-size: cover;
}

.auth .register-half-bg {
  background: url("../public/images/auth/register-bg.jpg");
  background-size: cover;
}

.auth.lock-full-bg {
  background: url("../public/images/auth/lockscreen-bg.jpg");
  background-size: cover;
}

.auth .lock-profile-img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.auth .auth-form-light {
  background: #ffffff;
}

.auth .auth-form-light select {
  color: #c9c8c8;
}

.auth .auth-form-transparent {
  background: transparent;
}

.auth .auth-form-transparent .form-control, .auth .auth-form-transparent .asColorPicker-input, .auth .auth-form-transparent .dataTables_wrapper select, .dataTables_wrapper .auth .auth-form-transparent select, .auth .auth-form-transparent .select2-container--default .select2-selection--single, .select2-container--default .auth .auth-form-transparent .select2-selection--single, .auth .auth-form-transparent .select2-container--default .select2-selection--single .select2-search__field, .select2-container--default .select2-selection--single .auth .auth-form-transparent .select2-search__field, .auth .auth-form-transparent .typeahead,
.auth .auth-form-transparent .tt-query,
.auth .auth-form-transparent .tt-hint,
.auth .auth-form-transparent .input-group-text {
  border-color: #F1F1F1;
}

.auth .auth-form-transparent select {
  outline-color: #F1F1F1;
}

.auth.auth-img-bg {
  padding: 0;
}

@media (min-width: 768px) {
  .auth.auth-img-bg .auth-form-transparent {
    width: 55%;
    margin: auto;
  }
}

.auth .brand-logo {
  margin-bottom: 2rem;
}

.auth .brand-logo img {
  width: 90px;
}

.auth form .form-group {
  margin-bottom: 1.5rem;
}

.auth form .form-group label {
  font-size: .8125rem;
}

.auth form .auth-form-btn {
  padding: 1rem 3rem;
  line-height: 1.5;
}

.auth form .auth-link {
  font-size: 0.812rem;
}

.auth form .auth-link:hover {
  color: initial;
}

.page-body-wrapper {
  min-height: calc(100vh - 97px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  padding-top: 97px;
}

.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 0;
}

.main-panel {
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 220px);
  min-height: calc(100vh - 97px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 991px) {
  .main-panel {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  background: #F4F5F7;
  padding: 1.5rem 2.187rem 1.5rem 3.5rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .content-wrapper {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}

.input-email {
  .form-control-icon {
    border-color: rgba(0, 0, 0, 0.7) !important;
    box-shadow: none !important;
    @apply w-full border-blueGray-800
      px-3 py-3 placeholder-blueGray-300 text-blueGray-600
      rounded text-sm shadow
      focus:outline-none border-1
  }
  .input-close {
    top: 10px !important;
    cursor: pointer;
  }
  .error-el {
    bottom: -15px !important;
  }
}
.btn-close {
  background: url(../public/images/close.svg);
  position: absolute;
  right: 27px;
  top: 27px;
}

@import "backend-components/common/light/variables.scss";
@import "backend-components/variables.scss";
@import "backend-components/vertical-wrapper.scss";
@import "backend-components/sidebar.scss";

@import "backend-components/table.scss";
@import "backend-components/buttons.scss";
